.project-container {
  min-height: 100vh;
}

.description-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}

.description-container > :nth-child(1) {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column: 1 / span 5;
}

.description-container > :nth-child(2) {
  grid-row-start: 1;
  grid-column-start: 5;
  grid-column: 6 / span 7;
}

.project-name {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 28px;
}

.project-description {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}

.link-container {
  grid-column: 5 / span 12;
}

.link-button {
  background-color: #586f7c;
  padding: 10px 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  border: 1px solid black;
  color: white;
  font-weight: 500;
  box-sizing: inherit;
  display: inline-block;
  font-size: 12pt;
  font-family: "Noto Sans", sans-serif;
  transition: all 0.2s;
  cursor: pointer;
  width: 25%;
  height: 45px;
  border-radius: 25px;
}

.link-button:focus {
  outline: 0;
}

.project-image {
  max-width: 100%;
  height: auto;
}

.techstack-container {
  width: auto;
}

.techstack-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0 0 20px 0;
}

.techstack-list > li {
  margin: 0;
  padding: 0 20px 0 0;
}

.tech-icon {
  width: 50px;
  height: auto;
}

@media screen and (max-width: 1024px) {
  .project-container {
    padding-bottom: 40px;
  }

  .description-container > :nth-child(1) {
    grid-row-start: 2;
    grid-column: 1 / span 12;
  }

  .description-container > :nth-child(2) {
    grid-row-start: 1;
    grid-column: 1 / span 12;
  }

  .link-container {
    grid-column: 4 / span 12;
  }

  .link-button {
    width: 35%;
    font-size: 11pt;
  }
}

@media screen and (max-width: 768px) {
  .link-container {
    grid-column: 3 / span 12;
  }

  .link-button {
    width: 75%;
    font-size: 11pt;
  }
}
