html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

pre {
  white-space: pre-wrap;
}

.hero-header-container {
  background: url("/heroBackground.png");
  background-repeat: repeat;
  height: 100vh;
  width: 100%;
  display: inline-grid;
  justify-items: left;
  align-items: center;
  grid-template-rows: 60% 40%;
  padding: 0 0 25px 25px;
  border-bottom: 3px solid #b8dbd9;
}

.profile-image {
  width: 225px;
  height: 225px;
  padding: 20px 0 20px 0;
}

.greeting-container {
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.introduction-text {
  color: #003366;
  font-size: 3rem;
  font-weight: 600;
  font-family: "Noto Sans";
  display: inline-block;
  height: 120px;
  padding-top: 100px;
  /* border: solid 1px blue; */
  margin: 20px 0 10px 0;
}

.button {
  background-color: transparent;
  padding: 10px 20px;
  border: 4px solid #003366;
  color: #003366;
  font-weight: 600;
  box-sizing: inherit;
  display: inline-block;
  font-size: 16pt;
  font-family: "Noto Sans";
  transition: all 0.2s;
  cursor: pointer;
  width: 300px;
  height: 75px;
  justify-self: center;
}

.animate {
  animation: shine 2s linear infinite;
}

.button:hover {
  background-color: #b8dbd9;
  color: black;
}

.button:focus {
  outline: 0;
}

@keyframes shine {
  25% {
    box-shadow: 0 0 40px rgba(88, 111, 124, 0.9);
  }
  75% {
    box-shadow: 0 0 0 transparent;
  }
}
